body {
  overflow:scroll;
  background: #003876;
  overflow: hidden;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Times New Roman';
}

h2 {
  font-family: 'Arial';
  font-size: medium;
  text-align: left;
}

h3 {
  font-family: sans-serif;
  font-size: x-large;
  text-align: left;
}

h4 {
  font-family: 'Times New Roman';
  font-size:xx-large;
  color: red;
}

h5 {
  font-family: 'Arial';
  font-size: medium;
  text-align: center;
}

header {
  border-radius: 10px;
  background-color: #002e62;
  margin: 13px;
  padding: 5px;
}

.tab-buttons {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: navy;
}

.tab-buttons:hover {
  color: black;
  text-decoration: underline;
  font-size: 30px;
  background-color: #1752b9;
  padding: 8;
  margin: 12px;
}

.tab-buttons.active {
  color: white;
  text-decoration: underline;
  font-size: 30px;
  background-color: #c50;
  margin: 12px;
  padding: 14px;
}

img {
  border-radius: 10px;
  height: 500px;
}