body {
  background: #003876;
  overflow: hidden;
  color: rgb(255, 47, 0);
  text-align: center;
}

h1 {
  font-family: 'Times New Roman';
}

header {
  border-radius: 10px;
  background-color: #002e62;
  margin: 5px;
}

.tab-buttons {
  color: rgb(255, 47, 0);
  text-decoration: none;
  font-size: 30px;
  margin: 12px;
  border-radius: 5px;
  background-color: #00234c;
}

.tab-buttons:hover {
  color: darkred;
  text-decoration: underline;
  font-size: 30px;
  background-color: #1752b9;
  margin: 12px;
}

img {
  border-radius: 10px;
  height: 100px;
}