body {
  background: #003876;
  overflow: hidden;
  color: red;
  text-align: center;
}

header {
  border-radius: 10px;
  background-color: #002e62;
  text-decoration: none;
  
}

.tab-buttons {
  color: red;
}

img {
  border-radius: 10px;
}